/* Hero Section */

#Hero-Section {
    background-image: url(../img/wallpaper-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }


  #portafolio{
    background-image: url(../img/wallpaper-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  /* Footer */

  footer{
    background-image: url(/assets/img/wallpaper-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 2.5em;
    padding-bottom: 1.5em;
}